<launch>
  <!-- 1) Wheel / chassis command converter -->
  <node pkg="chassis_control"
        type="cmd_vel_to_set_velocity.py"
        name="cmd_vel_to_set_velocity"
        output="screen">
  </node>

  <!-- 2) YOLO detection node(s) -->
  <include file="$(find yolo)/launch/yolo.launch">
    <arg name="source" value="realsense" />
    <arg name="show_window" value="false" />
  </include>

  <!-- 3) Pilot brain (cup follower) -->
  <include file="$(find pilot)/launch/pilot.launch" />  
  <node pkg="tf" type="static_transform_publisher" name="base_to_camera_broadcaster" args="0.06 0.025 -0.015 0 0 0 base_link camera_link 100" />

  <!-- 4) Pick and Place -->
  <node pkg="kinematics_ros" type="pick_and_place.py" name="pick_and_place_node" output="screen" />

  <!-- 4) RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pilot)/rviz/system.rviz" />
</launch>
